*{
    font-family:Helvetica,Arial sans-serif;
}
body{
    padding: 60px;
}
input{
    width: 100%;
    color:gray;
    font-size: 1.2rem;
}
.caja{
    display: flex;
    flex-direction: row; /*para que se ordene por listas si lo amplio (responsive)*/
    flex-wrap: wrap;

}

.card{
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
    border:2px solid black;
    overflow: hidden; /*borra todo lo de afuera si se hace un bordeado*/
    transition: 1s;
}
.card:hover{
    border:3px dashed red;
    opacity: 50%;
 
}
